{% extends "enigma/layout.html" %}
{% load static %}

{% block body %}
<div style="height: 20px;"></div>

<div style="margin: auto; width: 95%; padding: 0px;">
    <img src="{% static 'enigma/dica - a Exposição ao novo conhecimento, revela um Brilho interior que eleva nosso Nível de sabedoria.jfif' %}" alt="" width="100%">
</div>

<div style="height: 20px;"></div>

<form action="{% url 'enigma' %}" method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="resposta" name="resposta">
        <button class="btn btn-outline-primary" type="submit">Enviar</button>
    </div>

</form>

{% endblock %}
