{% extends "enigma/layout.html" %}
{% load static %}

{% block body %}

<div style="height: 20px;"></div>

<h1 style="text-align: center;">
    enigma 4
</h1>

<div style="height: 20px;"></div>

<div style="margin: auto; width: 95%; padding: 0px;">
    <img src="{% static 'enigma/dica - teclado alfanumérico.jfif' %}" alt="" width="100%">
</div>

<div style="margin: 15px 10px 25px 10px;">
    me encontre no aplicativo da borboleta
</div>

<form action="{% url 'enigma' %}" method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="resposta" name="resposta">
        <button class="btn btn-outline-primary" type="submit">Enviar</button>
    </div>
</form>


{% endblock %}
